/build/app/intermediates/*
/build/app/outputs/*
/build/*

/build/.cxx/Debug/*

.dart_tool/flutter_build/*
.dart_tool/pub/bin/*
.dart_tool/*

.idea/*

coverage/*
/lib/mocks/mock_users.dart
/.fvmrc
/.fvm/versions/3.32.5/
/.fvm/flutter_sdk/
/.fvm/fvm_config.json
/.fvm/release
/.fvm/version

/assets/env/*

# FVM Version Cache
.fvm/
.DS_Store
